.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 64px;
  min-height: 64px;
  text-align: center;
  background-color: #d9d9d9;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  border: none;
}

.tg_icon_foundation {
  fill: #000;
}

.button:hover {
  background-color: #00c7f3;
}

.button:hover .tg_icon {
  fill: #fff;
}

.button:active {
  background-color: #00c7f3;
}

.button:active .tg_icon {
  fill: #fff;
}
