__pycache__/
*.py[cod]
*.so
services/tn_service/venv/
.flake8
.isort.cfg
alembic/versions/*.pyc
.idea/
services/alior-cms/logs
services/alior-cms/.ssh
services/alior-manager-bot/logs
services/alior-manager-bot/.ssh