[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    alembic,
    build,
    dist,
    .mypy_cache,
    .pytest_cache,
    .tox,
    venv,
    .venv
    app/api/proto/tn_pb2.py
    app/api/proto/tn_pb2_grpc.py