

.decoration_container {
	height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoration {
  display: block;
  background-color: #A2A2A2;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  transition: all 0.2s ease; /* Добавляем плавный переход */
  background-size: cover; /* Убедитесь, что SVG покрывает весь элемент */
  background-image: none; /* Изначально изображение не установлено */
}

.decoration_active {
  background-color: transparent;
  width: 24px; /* Новый размер, соответствующий SVG */
  height: 24px;
  border-radius: 0; /* Убираем закругление, чтобы стало квадратом */
  transition: all 0.3s ease; /* Добавляем плавный переход */
}

.decoration_active_chair {
	background-image: url('../../images/chair.svg');
}

  .decoration_active_services {
	background-image: url('../../images/services.svg');
}

  .decoration_active_play {
	background-image: url('../../images/play.svg');
}

.list__item:hover .decoration {
  background-color: transparent;
  width: 24px; /* Новый размер, соответствующий SVG */
  height: 24px;
  border-radius: 0; /* Убираем закругление, чтобы стало квадратом */
  transition: all 0.3s ease; /* Добавляем плавный переход */
}

/* Устанавливаем изображения для hover состояния каждого элемента списка */
.list__item:nth-child(1):hover .decoration { background-image: url('../../images/chair.svg'); }
.list__item:nth-child(2):hover .decoration { background-image: url('../../images/services.svg'); }
.list__item:nth-child(3):hover .decoration { background-image: url('../../images/play.svg'); }



.list__item {
	display: flex;
	align-items: center;
    list-style-type: none;
    flex-direction: row;
    gap: 10px;
	padding: 12px 18px 12px 14px;
	cursor: pointer;
}

.link {
	color: #A2A2A2;;
	text-decoration: none;
}

.link_active {
	color: #000;
}

.list__item:hover .link  {
	color: #000;
}

.list__item .link:active {
	color: #000;
}