@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer base {
  @font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Caveat";
    src: url("./fonts/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
} */

@layer components {
  .btn-accent-white {
    @apply bg-accent border-accent text-white stroke-white fill-white hover:bg-white hover:fill-accent hover:stroke-accent hover:text-accent hover:border-accent;
  }
  .btn-white-accent {
    @apply bg-transparent text-accent stroke-accent fill-accent border-accent hover:bg-accent hover:text-white hover:fill-white hover:stroke-white;
  }
  .btn-orange-white {
    @apply bg-orange-900 border-orange-900 text-white stroke-white fill-white hover:bg-white hover:border-orange-900 hover:text-orange-900 hover:fill-orange-900 hover:stroke-orange-900;
  }

  .btn-blue-white {
    @apply bg-blue-900 border-blue-900 text-white stroke-white fill-white hover:bg-white hover:border-blue-900 hover:text-blue-900 hover:fill-blue-900 hover:stroke-blue-900;
  }

  .btn-black-white {
    @apply bg-black border-white text-white stroke-white fill-white hover:bg-white hover:border-black hover:text-black hover:fill-black hover:stroke-black;
  }

  .btn-white-black {
    @apply bg-white border-black text-black stroke-black fill-black hover:bg-black hover:border-black hover:text-white hover:fill-white hover:stroke-white;
  }

  .clamp-h2 {
    font-size: clamp(2.5rem, 2.0714rem + 2.1429vw, 4rem);
  }

  .clamp-span {
    font-size: clamp(4rem, 3.4286rem + 2.8571vw, 6rem);
  }

  .thesis_container_mobile {
    display: grid;
    width: 100%;
    gap: 32px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: row;
    grid-template-areas:
      ". item1 item1"
      "item2 item2 ."
      ". item3 item3"
      "item4 item4 ."
      ". item5 item5"
      "item6 item6 ."
      "item7 item7 item7";
  }
  .thesis_container_middle {
    display: grid;
    width: 100%;
    gap: 32px;
    grid-template-columns: repeat(6, 13%);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: row;
    grid-template-areas:
      "item1 item1 item1 item2  item2 item2"
      "item5 item5 item5 item4 item4 ."
      "item6 item6 item6 . item3 item3"
      "item7 item7 item7 item7 item7 item7";
  }

  .thesis_container_large {
    display: grid;
    width: 100%;
    gap: 16px;
    grid-template-columns: repeat(4, minmax(224px, 600px));
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: row;
    grid-template-areas:
      "item1 . item2 item2"
      "item5 . item4 item3"
      "item6 . item7 item7";
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .item5 {
    grid-area: item5;
  }
  .item6 {
    grid-area: item6;
  }
  .item7 {
    grid-area: item7;
  }

  .preloader {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: white;
    display: flex;
    z-index: 10;
  }

  .preloader_logo_visible {
    visibility: visible;
    animation: preloaderDisappear 3s ease-in;
  }

  .animated_logo_visible {
    z-index: 11;
    position: relative;
    animation: logoDisappear 3s ease-in;
  }

  @keyframes logoDisappear {
    0% {
      top: 3%;
      left: 12%;
      width: 80%;
    }
    80% {
      width: 110px;
      top: -41%;
      left: 5%;
    }
    90% {
      width: 115px;
      top: -41%;
      left: 5%;
    }
    100% {
      width: 110px;
      top: -41%;
      left: 5%;
    }
  }

  @keyframes preloaderDisappear {
    0% {
      visibility: visible;
      background: white;
    }

    100% {
      background: transparent;
    }
  }
}

* {
  @apply font-rubik;
}
