@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
    font-weight: 300 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Caveat";
    src: url("/fonts/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  .btn-accent {
    @apply bg-accent border-accent text-white stroke-white fill-white hover:bg-white hover:fill-accent hover:stroke-accent hover:text-accent hover:border-accent;
  }
  .btn-transpanent-accent {
    @apply bg-transparent text-accent stroke-accent fill-accent border-accent hover:bg-accent hover:text-white hover:fill-white hover:stroke-white;
  }
  .btn-dark-orange {
    @apply bg-orange-900 border-orange-900 text-white stroke-white fill-white hover:bg-white hover:border-white hover:text-orange-900 hover:fill-orange-900 hover:stroke-orange-900;
  }

  .btn-dark-blue {
    @apply bg-blue-900 border-blue-900 text-white stroke-white fill-white hover:bg-white hover:border-white hover:text-blue-900 hover:fill-blue-900 hover:stroke-blue-900;
  }

  .btn-black {
    @apply bg-transparent border-white text-white stroke-white fill-white hover:bg-white hover:border-white hover:text-black hover:fill-black hover:stroke-black;
  }

  .btn-white {
    @apply bg-white border-white text-black stroke-black fill-black hover:bg-black hover:border-black hover:text-white hover:fill-white hover:stroke-white;
  }

  .circle-hover-accent {
    @apply bg-white hover:bg-accent;
  }

  .circle-transpanent-accent {
    @apply bg-accent hover:bg-white;
  }

  .circle-dark-orange {
    @apply bg-white hover:bg-orange-900;
  }

  .circle-dark-blue {
    @apply bg-white hover:bg-blue-900;
  }

  .circle-black {
    @apply bg-white hover:bg-black;
  }
}

* {
  @apply font-rubik;
}
