.header {
  width: clamp(278px, 90%, 2300px);
}

.small_navigation_contsiner {
  background-color: transparent;
  border-radius: 0px;
  display: flex;
  gap: 2px;
  padding: 0 16px;
  align-items: center;
}

.logo {
  opacity: 0;
}

.hidden {
  display: none;
}

@media (width < 1024px) {
  .navigation {
    display: none;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
  }
}

.button_black_type {
  color: #ffffff;
  background-color: #000000;
}

.button_white_type {
  color: #000000;
  background-color: transparent;
}
